body{
    background-color: #ffffff;
}
.header .header-wrap{
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.header .nav-wrap{
    display: flex;
    height: 72px;
    width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.nav-wrap .nav-menu{
    position: relative;
    z-index: 1;
}
.nav-wrap .nav-menu a{
    padding-left:12px;
    margin-left:80px;
    color:#fff;
    font-size:14px;
    line-height: 1.2;
}
.nav-wrap .nav-menu a:first-child{
    margin-left:0;
}
.nav-arrow{
    position: absolute;
    left:0;
    top:4px;
    width: 8px;
    height: 12px;
    background: url(../images/nav-active.png) center;
    transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    z-index:-1;
}
.container{
    width: 1200px;
    margin: auto;
}
.footer {
    height: 260px;
    min-width: 1200px;
    padding-top:40px;
    background: #222961;
}
.footer .footNav {
    height: 195px;
}
.footer .main {
    width: 1200px;
    margin: 0 auto;
}
.footer .f-nav {
    float: left;
}
.f-cb, .f-cbli li {
    zoom: 1;
}
.footer .f-nav .navList {
    float: left;
    margin-right: 100px;
}
.footer .f-nav .navList h2 {
    font: 16px/1.5 "microsoft yahei";
    color: #fff;
}
.footer .f-nav .navList ul {
    margin-top: 12px;
}
.footer .f-nav .navList li {
    font: 12px/22px "microsoft yahei";
}
.footer .f-nav .navList li a {
    color: #fff;
}
 .footer .f-nav .navList li a:hover {
     color: #e6dec4;
 }
.f-cb:after, .f-cbli li:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.footer .f-phone {
    float: right;
}
.footer .f-phone p {
    text-align: right;
    color: #fff;
}
.footer .f-phone p.phone {
    font: 30px/1.5 arial;
}
.footer .f-phone p.time {
    font: 12px/1.5 arial,"microsoft yahei";
}
.footer .Copyright {
    width: 1200px;
    height: 66px;
    margin:0 auto;
    line-height: 66px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #2e3b6d;
}
.arrow-top{
    display: none;
    position: fixed;
    right:0;
    bottom: 300px;
    width: 62px;
    height: 62px;
    background-color:#d50702;
    background-image: url(../images/arrow-top.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.titleType h2 {
    font: 20px/1.5 arial,tahoma,"microsoft yahei";
}
.titleType h1 {
    font: 24px/1.5 arial,tahoma,"microsoft yahei";
    color:#1a1a1a;
}
.titleType .a-line {
    width: 40px;
    height: 0;
    border-bottom: 2px solid #ff3333;
    margin-top: 16px;
}