body{
    background: url(../images/index-banner.jpg) center top no-repeat;
}
.index .header{
    height:642px;
}
.tab-wrap{
    border:1px solid #eef0ff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 4px rgba(82,98,153,0.04);
    -webkit-box-shadow: 0 4px rgba(82,98,153,0.04);
    -moz-box-shadow: 0 4px rgba(82,98,153,0.04);
    -ms-box-shadow: 0 4px rgba(82,98,153,0.04);
    -o-box-shadow: 0 4px rgba(82,98,153,0.04);
}
.tab-wrap li{
    float:left;
    width: 33.333%;
    height: 158px;
    background: #fafcff;
}
.tab-wrap li.gray{
    background: #f7f9ff;
}
.tab-wrap li img{
    margin:44px 0 0 61px;
}
.case-wrap a{
    display: block;
    overflow: hidden;
}
.case-wrap .index1{
    width: 400px;
    height: 450px;
}
.case-wrap .index2{
    width: 790px;
    height: 220px;
}
.case-wrap .index3{
    width: 390px;
    height: 220px;
}
.case-wrap .index4{
    width: 390px;
    height: 220px;
}
.case-wrap a img{
    transition: transform 0.5s ease-out;
    -wekit-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
}
.case-wrap a:hover img{
    transform: scale(1.1);
}
.logo-wrap{
    display: flex;
    margin-bottom:30px;
    align-items: center;
    justify-content: space-around;
}